body {
    background-color: black;
    color: gray;
}

h1 {
    color: blue;
    font-style: italic;
}

li {
    color: grey;
    padding: 2px 0;
    font-size: 16px;
}

button {
    margin: 0 5px;
}

.note {
    color: grey;
    padding: 2px 0;
    font-size: 24px;
}

.error-notification {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
